<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="background-color: lightgray">
      <ion-col size="3">Employee ID</ion-col>
      <ion-col size="3">Employee Name</ion-col>
      <ion-col size="3">Deprtment</ion-col>
      <ion-col size="3">Employee Salary</ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row *ngFor="let emp of result">
      <ion-col size="3">{{emp.e_id}}</ion-col>
      <ion-col size="3">{{emp.e_name}}</ion-col>
      <ion-col size="3">{{emp.d_name}}</ion-col>
      <ion-col size="3">{{emp.e_salary}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
